/* Variables para el modo claro */
:root {
  --green-primary-main: #84C7AE;
  --white-secondary-main: #ffffff;
  --grey-secondary-light: #edf5f4d1;
  --red-error-main: #f25244;
  --orange-warning-main: #f2cb05;
  --green-success-main: #8bb443;
  --lightGreen-info-main: #F6FBF9;
  --light-grey-A200: #d9d9d9;
  --borde-custom-inputBorder: #c7c3c3;
  --shadow-custom-lightShadow: rgba(0, 0, 0, 0.15);

  --font-family-base: "Inter", sans-serif;
}

.bg-primario{
    background-color: var(--green-primary-main);
    
}
.bg-warning{
    background-color: var(--orange-warning-main);
}
.bg-success{
background-color: var(--green-success-main);
}
.bg-light-green{
background-color: var(--lightGreen-info-main);
}

.bg-grey{
    background-color: var(--grey-secondary-light);
}

.fc-primary{
 color: var(--green-primary-main);
}
.fc-secondary{
    color: var(--white-secondary-main);
}


/* Variables para el modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-main: #021f59;
    --color-secondary-main: #b3e0fd;
    --color-background-default: #121212;
    --color-background-paper: #1d1d1d;
    --color-grey-A200: #d9d9d9;
    --color-custom-inputBorder: #c7c3c3;
    --color-custom-lightBlue: #9fd3e0;
    --color-custom-inputFocused: #021f59;
    --color-custom-lightShadow: rgba(0, 0, 0, 0.15);
  }
}
/* Estilos de sombras */
.shadow-custom {
  box-shadow: 0px 3px 5px 0px var(--shadow-custom-lightShadow);
}

/* Estilos generales para inputs */
.input-base {
  color: var(--borde-custom-inputBorder);
  box-shadow: var(--shadow-custom);
}

.input-focused {
  color: var(--blue-primary-main);
}

/* Configuraciones específicas de componentes */
.MuiInput-root,
.MuiTextField-root .MuiInputBase-root {
  color: var(--borde-custom-inputBorder);
  box-shadow: var(--shadow-custom);
}

.MuiInput-root.Mui-focused,
.MuiTextField-root .MuiInputBase-root.Mui-focused {
  color: var(--blue-primary-main);
}
